.img {
	max-width: 100%;
	height: auto;
}

.thumbs a {
	float: left;
	width: 25%; /*for images per row*/
	padding-right: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.thumbs {
	margin-right: -15px;
}

.thumbs img {
	display: block;
}

.thumbs img:hover {
	opacity: 0.6;
}

/* gallery folders */
